<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="components/battle.js"></script>
  </head>
  <body>
    <main id="app">
      <battle-header></battle-header>

      <div id="board">

        <section class="slider-wrapper">
          <div class="slides-container" id="slides-container">
            <battle-region :region-index="1"></battle-region>
            <battle-region :region-index="2"></battle-region>
            <battle-region :region-index="3"></battle-region>
            <battle-region :region-index="4"></battle-region>
          </div>
        </section>

      </div>

      <battle-footer></battle-footer>
    </main>

    <template id="vue-battle-header">
      <header @click="battleUpdate">{{ message }}</header>
    </template>

    <template id="vue-battle-region">
      <div :id="`region-${regionIndex}`" class="slide">
        <div class="column">
          <battle-tile :region-index="regionIndex" :tile-index="1"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="4"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="7"></battle-tile>
        </div>
        <div class="column">
          <battle-tile :region-index="regionIndex" :tile-index="2"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="5"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="8"></battle-tile>
        </div>
        <div class="column">
          <battle-tile :region-index="regionIndex" :tile-index="3"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="6"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="9"></battle-tile>
        </div>
      </div>
    </template>

    <template id="vue-battle-tile">
      <div
        :id="`tile-${regionIndex}-${tileIndex}`"
        class="tile"
        :class="{active: isActive}"
        @click="onTileClick"
      >
        <battle-minion-counter :count="minions"></battle-minion-counter>
        <div>
          {{ tileIndex }}
        </div>
      </div>
    </template>

    <template id="vue-battle-minion-counter">
      <div class="minion-counter">
        <span v-if="count > 0">G</span>
        <span v-if="count > 1">G</span>
        <span v-if="count > 2">G</span>
      </div>
    </template>

    <template id="vue-battle-footer">
      <footer>
        <button class="slide-arrow" id="slide-arrow-prev">
          &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next">
          &#8250;
        </button>
      </footer>
    </template>

    <!--<script src="https://cdn.jsdelivr.net/npm/rune-games-sdk@3/multiplayer.js"></script>-->
    <script src="logic.js"></script>
    <script src="client.js"></script>
  </body>
</html>
