<!DOCTYPE html>
<!-- SPDX-License-Identifier: MIT -->
<!-- Copyright © 2023 André "Oatspear" Santos -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <main id="app">
      <battle-header
        v-if="isBattleState"
        :history="history"
      >
      </battle-header>

      <battle-board
        :is-battle-state="isBattleState"
        :player-id="playerId"
        :enemies="enemies"
        :players="players"
        :highlight-enemies="highlightEnemies"
        :highlight-players="highlightPlayers"
        :selected-enemy="ui.selectedEnemy"
        :selected-player="ui.selectedPlayer"
        @selected-enemy="onEnemySelected"
        @selected-player="onPlayerSelected"
      >
      </battle-board>

      <battle-footer
        v-if="ui.footer.display"
        v-bind="ui.footer"
        @select-skill="onSkillSelected"
        @cancel-skill="onCancelSkill"
        @use-skill="onUseSkill"
      >
      </battle-footer>
    </main>

    <template id="vue-battle-header">
      <header>
        <div class="history">
          <battle-history-event v-for="event in history" :current-event="event">
          </battle-history-event>
        </div>
      </header>
    </template>

    <template id="vue-battle-history-event">
      <div class="slot">
        <Transition name="slide-fade">
          <div v-if="shouldDisplay" class="event">
            <img class="icon" :src="`assets/${icon}.png`" alt="▼">
          </div>
        </Transition>
      </div>
    </template>

    <template id="vue-battle-board">
      <div id="board">
          <div class="slides-container" id="slides-container">
            <battle-scene
              v-if="isBattleState"
              :scene-index="0"
              :player-id="playerId"
              :enemies="enemies"
              :players="players"
              :highlight-enemies="highlightEnemies"
              :highlight-players="highlightPlayers"
              :selected-enemy="selectedEnemy"
              :selected-player="selectedPlayer"
              @selected-enemy="onEnemySelected"
              @selected-player="onPlayerSelected"
            >
            </battle-scene>
          </div>
      </div>
    </template>

    <template id="vue-battle-scene">
      <div :id="`battle-scene-${sceneIndex}`" class="slide">
        <div class="row">
          <battle-character
            v-for="(enemy, i) in enemies"
            :tile-index="i"
            :character="enemy"
            :is-enemy
            :is-active="selectedEnemy === i"
            :is-highlighted="highlightEnemies"
            @selected="onEnemySelected"
          >
          </battle-character>
        </div>
        <div class="row">
          <battle-character
            v-for="(player, i) in players"
            :tile-index="i"
            :character="player"
            :is-enemy="false"
            :is-active="selectedPlayer === i"
            :is-highlighted="highlightPlayers"
            :is-owned="playerId === player.id"
            @selected="onPlayerSelected"
          >
          </battle-character>
        </div>
      </div>
    </template>

    <template id="vue-battle-character">
      <div class="tile-container">
        <div
          class="tile"
          :class="{
            active: isActive,
            enemy: isEnemy,
            owned: isOwned,
            highlight: !isActive && isHighlighted,
            animating: animation != '',
            positive: animation == 'heal',
            negative: animation == 'damage'
          }"
          @click="onTileClick"
        >
          <span class="class" :class="character.classData.icon">{{ character.classData.name }}</span>
          <div class="portrait">
            <img :src="`assets/${character.classData.icon}.png`" alt="?">
          </div>
          <div class="effect-anchor"></div>
          <div class="stats">
            <div class="power">
              <span>{{ character.power }}</span>
            </div>
            /
            <div class="health">
              <span>{{ character.currentHealth }}</span>
            </div>
          </div>
          <Transition name="fade">
            <div v-if="overlay.display" class="overlay">
              <img v-if="overlay.icon" class="icon" :class="overlay.iconAnimation" :src="`assets/${overlay.icon}.png`" alt="?">
              <div v-if="overlay.particles" class="particles" :class="overlay.particleAnimation">
                <img class="icon" :src="`assets/${overlay.particles}.png`" alt="?">
                <img class="icon" :src="`assets/${overlay.particles}.png`" alt="?">
                <img class="icon" :src="`assets/${overlay.particles}.png`" alt="?">
              </div>
            </div>
          </Transition>
        </div>
      </div>
    </template>

    <template id="vue-battle-footer">
      <footer>
        <battle-player-info
          :display-name="characterData.name"
          :class-icon="characterData.classData.icon"
          :class-name="characterData.classData.name"
          :power-value="characterData.power"
          :health-value="characterData.health"
        ></battle-player-info>
        <battle-action-bar
          :observer="observer"
          :selected-skill="selectedSkill"
          :selected-target="selectedTarget"
          :skills="skills"
          @select-skill="onSkillSelected"
          @cancel-skill="onCancelSkill"
          @use-skill="onUseSkill"
        >
        </battle-action-bar>
        <!-- <button class="slide-arrow" id="slide-arrow-prev" @click.prevent="showPreviousPlayer">
          &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next" @click.prevent="showNextPlayer">
        &#8250;
        </button> -->
        <p class="description">
          <span v-if="!observer">
            <span class="name">{{ itemName }}</span>
            {{ itemDescription }}
          </span>
        </p>
      </footer>
    </template>

    <template id="vue-battle-player-info">
      <div class="player-info">
        <h2 class="nameplate">
          <span class="class" :class="classIcon">{{ className }}</span>
          <span class="name">{{ displayName || "&nbsp;" }}</span>
        </h2>
        <div class="stats">
          <battle-icon-label name="power" :value="powerValue" :size="16" v-if="powerValue > 0"></battle-icon-label>
          <battle-icon-label name="shield" :value="healthValue" :size="16" v-if="healthValue > 0"></battle-icon-label>
        </div>
      </div>
    </template>

    <template id="vue-battle-action-bar">
      <div class="action-bar" v-if="observer"></div>
      <div class="action-bar" v-else-if="selectedSkill == null">
        <div class="center-container" v-for="(skill, i) in skills">
          <button
            class="action-button"
            :disabled="skill.wait > 0"
            @click.prevent.stop="selectSkill(i)"
          >
            <img :src="`assets/${skill.icon}.png`" alt="Skill" width="32" height="32">
          </button>
          <div class="speed">
            {{ skill.speed }}
          </div>
          <div class="cooldown" v-if="skill.cooldown > 0">
            {{ skill.wait || skill.cooldown }}
          </div>
        </div>
      </div>
      <div class="action-bar" v-else>
        <div class="center-container">
          <button class="action-button" @click.prevent.stop="cancelSkill()">
            <img src="assets/cancel.png" alt="Cancel" width="32" height="32">
          </button>
        </div>
        <div class="center-container">
          <button
            class="action-button active"
            :disabled="selectedTarget == null"
            @click.prevent.stop="useSkill()"
          >
            <img :src="`assets/${skills[selectedSkill].icon}.png`" alt="Skill" width="32" height="32">
          </button>
        </div>
      </div>
    </template>

    <template id="vue-battle-icon-label">
      <div class="icon-label" :class="name">
        <img :src="`assets/${name}.png`" alt="Icon" :width="size" :height="size">
        <span class="label">{{ value }}</span>
      </div>
    </template>

    <!-- <script src="https://cdn.jsdelivr.net/npm/rune-games-sdk@3/multiplayer.js"></script> -->
    <script src="rune-mock.js"></script>
    <script src="logic.js"></script>
    <script src="data.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="components/battle.js"></script>
    <script src="client.js"></script>

    <!--
    <div>Icons made by <a href="https://www.flaticon.com/authors/juicy-fish" title="juicy_fish">juicy_fish</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <a href="https://www.flaticon.com/free-icons/punch" title="punch icons">Punch icons created by Freepik - Flaticon</a>
    -->
  </body>
</html>
