<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="components/battle.js"></script>
  </head>
  <body>
    <main id="app">
      <battle-header :current-turn="currentTurn" :num-players="players.length"></battle-header>

      <div id="board">
          <div class="slides-container" id="slides-container">
            <battle-region :region-index="0" :tiles="tiles[0]"></battle-region>
            <battle-region :region-index="1" :tiles="tiles[1]"></battle-region>
            <battle-region :region-index="2" :tiles="tiles[2]"></battle-region>
            <battle-region :region-index="3" :tiles="tiles[3]"></battle-region>
          </div>

      </div>

      <battle-footer
        :player-data="players[currentTurn]"
        @spawn-ghouls="onSpawnGhouls"
        @spawn-abomination="onSpawnAbomination"
        @show-previous-player="decrementTurn"
        @show-next-player="incrementTurn"
      >
      </battle-footer>
    </main>

    <template id="vue-battle-header">
      <header>
        <battle-icon-label name="boss" :value="0"></battle-icon-label>
        <div class="turn">
          <div class="slot">
            <span v-if="currentTurn == 0">▼</span>
          </div>
          <div class="slot" v-if="numPlayers > 1">
            <span v-if="currentTurn == 1">▼</span>
          </div>
          <div class="slot" v-if="numPlayers > 2">
            <span v-if="currentTurn == 2">▼</span>
          </div>
          <div class="slot" v-if="numPlayers > 3">
            <span v-if="currentTurn == 3">▼</span>
          </div>
        </div>
        <battle-icon-label name="willpower" :value="24"></battle-icon-label>
      </header>
    </template>

    <template id="vue-battle-region">
      <div :id="`region-${regionIndex}`" class="slide">
        <div class="column">
          <battle-tile :region-index="regionIndex" :tile-index="0" :tile-data="tiles[0]"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="3" :tile-data="tiles[3]"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="6" :tile-data="tiles[6]"></battle-tile>
        </div>
        <div class="column">
          <battle-tile :region-index="regionIndex" :tile-index="1" :is-boss :tile-data="tiles[1]"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="4" :tile-data="tiles[4]"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="7" :is-stronghold :tile-data="tiles[7]"></battle-tile>
        </div>
        <div class="column">
          <battle-tile :region-index="regionIndex" :tile-index="2" :tile-data="tiles[2]"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="5" :tile-data="tiles[5]"></battle-tile>
          <battle-tile :region-index="regionIndex" :tile-index="8" :tile-data="tiles[8]"></battle-tile>
        </div>
      </div>
    </template>

    <template id="vue-battle-tile">
      <div
        :id="`tile-${regionIndex}-${tileIndex}`"
        class="tile"
        :class="{active: isActive, boss: isBoss, stronghold: isStronghold}"
        @click="onTileClick"
      >
        <battle-minion-counter :count="tileData.ghouls"></battle-minion-counter>
        <battle-monster-counter :count="tileData.abominations"></battle-monster-counter>
      </div>
    </template>

    <template id="vue-battle-minion-counter">
      <div class="minion-counter">
        <div class="token" v-if="count > 0"></div>
        <div class="token" v-if="count > 1"></div>
        <div class="token" v-if="count > 2"></div>
      </div>
    </template>

    <template id="vue-battle-monster-counter">
      <div class="monster-counter">
        <div class="token" v-if="count == 1"></div>
        <div class="token elite" v-else-if="count > 1"></div>
      </div>
    </template>

    <template id="vue-battle-footer">
      <footer>
        <div class="player-info">
          <div class="icon" :class="playerData.playerClass"></div>
          <div class="nameplate">
            <span class="name">{{ playerData.name }}</span>
            <div class="heart-container">
              <span v-for="n in playerData.health">
                <img src="assets/heart-full.png" alt="Heart" width="16" height="16" v-if="playerData.currentHealth >= n">
                <img src="assets/heart-empty.png" alt="Empty Heart" width="16" height="16" v-else>
              </span>
            </div>
          </div>
          <battle-icon-label name="gold" :value="playerData.gold"></battle-icon-label>
        </div>
        <div class="action-bar">
          <button class="button-28" @click.prevent="spawnGhouls">Move</button>
          <button class="button-28" @click.prevent="spawnAbomination">Fight</button>
          <button class="button-28" @click.prevent="spawnGhouls">Ability</button>
          <button class="button-28" @click.prevent="spawnGhouls">Build</button>
          <button class="slide-arrow" id="slide-arrow-prev" @click.prevent="showPreviousPlayer">
            &#8249;
          </button>
          <button class="slide-arrow" id="slide-arrow-next" @click.prevent="showNextPlayer">
            &#8250;
          </button>
        </div>
      </footer>
    </template>

    <template id="vue-battle-icon-label">
      <div class="icon-label" :class="name">
        <img :src="`assets/${name}.png`" alt="Icon" width="32" height="32">
        <span class="label">{{ value }}</span>
      </div>
    </template>

    <!--<script src="https://cdn.jsdelivr.net/npm/rune-games-sdk@3/multiplayer.js"></script>-->
    <script src="logic.js"></script>
    <script src="client.js"></script>

    <!--
    <div>Icons made by <a href="https://www.flaticon.com/authors/juicy-fish" title="juicy_fish">juicy_fish</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <a href="https://www.flaticon.com/free-icons/punch" title="punch icons">Punch icons created by Freepik - Flaticon</a>
    -->
  </body>
</html>
