/* SPDX-License-Identifier: MIT */
/* Copyright © 2023 André "Oatspear" Santos */

* {
  box-sizing: border-box;
}

html, body, main {
  font-family: 'Secular One', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
}


/*******************************************************************************
  Miscellaneous
*******************************************************************************/


.icon-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-label > .label {
  /* border-radius: 0.25rem; */
  /* background-color: ivory; */
  padding: 0 .25rem;
  /* line-height: 1; */
}


.center-container {
  flex: 1 1 auto;
  width: 100%;
  padding: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/*******************************************************************************
  Game Board
*******************************************************************************/

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#board {
  background-color: #202124;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.slides-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background: linear-gradient(#4e4e4e, #202124);
}


.slide > .column {
  flex: 1 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slide > .row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.tile-container {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  position: relative;
  width: 90%;
  max-width: 8rem;
  flex: 0 0 auto;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202124;
  color: ivory;
  cursor: pointer;
  padding: .125rem .5rem;
  user-select: none;
  -webkit-user-select: none;
}

.tile.animating {
  transition: background-color 100ms ease-out;
}

.tile.owned {
  border: 2px solid gold;
}

.tile.active {
  background-color: royalblue;
}

.tile.enemy.active {
  background-color: crimson;
}

.tile.positive,
.tile.active.positive,
.tile.enemy.positive,
.tile.enemy.active.positive {
  background-color: forestgreen;
}

.tile.negative,
.tile.active.negative,
.tile.enemy.negative,
.tile.enemy.active.negative {
  background-color: crimson;
}

.tile.highlight {
  animation-name: pulseBackgroundBlue;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.tile.enemy.highlight {
  animation-name: pulseBackgroundRed;
}

@keyframes pulseBackgroundRed {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: crimson;
  }
  100% {
    background-color: inherit;
  }
}

@keyframes pulseBackgroundBlue {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: royalblue;
  }
  100% {
    background-color: inherit;
  }
}

.tile > .class {
  width: 100%;
  overflow: hidden;
  font-size: .75rem;
  text-align: center;
  white-space: nowrap;
}

.tile.active > .class {
  color: #202124;
}

.tile > .portrait {
  flex: 1 0 auto;
}

.tile > .portrait > img {
  width: 32px;
  height: 32px;
  transition: opacity 200ms ease-out;
  opacity: 1;
}

.tile.enemy > .portrait > img {
  width: 64px;
  height: 64px;
}

/* .tile > .portrait > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-out;
  opacity: 1;
} */

/* .tile > .portrait > img.fade,
.tile > .portrait > .overlay.fade {
  opacity: 0;
} */

/* .tile > .portrait > .overlay > .label {
  font-size: 2rem;
  color: ivory;
} */

/* .tile > .portrait > .overlay > img {
  width: 64px;
  height: 64px;
} */

/* .tile > .portrait > .overlay > .label.positive {
  color: green;
} */

/* .tile > .portrait > .overlay > .label.negative {
  color: crimson;
} */

.tile > .effect-anchor {
  width: 100%;
  position: relative;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile > .stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats > .power,
.stats > .health {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  pointer-events: none;
}

.tile > .overlay > .icon {
  width: 64px;
  height: 64px;
}

.tile > .overlay > .particles {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile > .overlay > .particles > .icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.overlay.fade-enter-active,
.overlay.fade-leave-active {
  transition: all 0.16s linear;
}

.overlay.fade-enter-from,
.overlay.fade-leave-to {
  opacity: 0;
}


.overlay > .icon.shaking {
  animation: shaking 0.65s;
}

.overlay > .icon.floating {
  animation: floating 0.65s forwards;
}

.overlay > .icon.fading {
  animation: fading 0.65s forwards;
}

.overlay > .particles.floating > .icon {
  animation: floating 0.5s forwards;
}

.overlay > .particles.floating > .icon:nth-child(1) {
  opacity: 0;
  left: 8px;
  animation-delay: 0.12s;
}

.overlay > .particles.floating > .icon:nth-child(3) {
  opacity: 0;
  left: -8px;
  animation-delay: 0.24s;
}

@keyframes shaking {
  0% { transform: none; }
  40%, 50% { transform: translateX(-8px); }
  45%, 55% { transform: translateX(8px); }
  20%, 30%, 60%, 70% { transform: translateX(-4px); }
  25%, 35%, 65%, 75% { transform: translateX(4px); }
  80% { transform: none; }
}

@keyframes floating {
  0% { transform: none; opacity: 1; }
  50% { opacity: 1; }
  100% { transform: translateY(-32px); opacity: 0; }
}

@keyframes fading {
  0% { opacity: 0; }
  10%, 75% { opacity: 1; }
  100% { opacity: 0; }
}


/* .stats > .power {
  background: no-repeat center/contain url("assets/power.png");
}

.stats > .health {
  background: no-repeat center/contain url("assets/shield.png");
} */

/* .stats > .power > span,
.stats > .health > span {
  border-radius: .5rem;
  background-color: wheat;
} */


/* @media only screen and (min-width: 320px) {}

@media only screen and (min-width: 400px) {} */


/*******************************************************************************
  Header Bar
*******************************************************************************/

header {
  width: 100%;
  padding: .25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: ivory;
  background: linear-gradient(#4e4e4e, #202124);
  border-bottom: 2px solid whitesmoke;
}

header > .history {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

header > .history > .slot {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

header > .history > .slot > .event {
  flex: 0 1 auto;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202124;
  border: 2px solid ivory;
  border-radius: .25rem;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

header > .history > .slot > .event.friendly {
  border: 2px solid royalblue;
}

header > .history > .slot > .event.enemy {
  border: 2px solid crimson;
}

.event.slide-fade-enter-active,
.event.slide-fade-leave-active {
  transition: all 0.2s linear;
}

.event.slide-fade-enter-from {
  transform: translateX(32px);
  opacity: 0;
}

.event.slide-fade-leave-to {
  transform: translateX(-32px);
  opacity: 0;
}

.event > .icon {
  width: 32px;
  height: 32px;
}

/*******************************************************************************
  Footer Bar
*******************************************************************************/

footer {
  width: 100%;
  background: linear-gradient(#4e4e4e, #202124);
  display: flex;
  flex-direction: column;
}


footer > .player-info {
  flex: 0 0 auto;
  width: 100%;
  background-color: #202124;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: ivory;
  padding: .2rem .5rem;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  user-select: none;
  -webkit-user-select: none;
}

.player-info > .nameplate {
  flex: 1 0 auto;
  margin: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-weight: normal;
}

.player-info > .nameplate > .class {
  font-size: .75rem;
}

.player-info > .nameplate > .name {
  margin-left: .25rem;
}

.player-info > .stats {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}


footer > .description {
  flex: 1 0 auto;
  margin: 0;
  padding: 0 .5rem;
  color: ivory;
  font-weight: normal;
  min-height: 3rem;
  font-size: .75rem;
}

.description .name {
  color: gold;
}

footer > .action-bar {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 .25rem;
  min-height: 64px;
}


.action-bar > .center-container > .speed {
  border-radius: .5rem;
  border: 2px solid ivory;
  background-color: #202124;
  color: silver;
  font-size: .75rem;
  position: absolute;
  padding: 0 .5rem;
  bottom: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}


.action-bar > .center-container > .cooldown {
  border-radius: .5rem;
  border: 2px solid #202124;
  background-color: wheat;
  color: #202124;
  position: absolute;
  padding: 0 .5rem;
  top: 0;
  right: 0;
  user-select: none;
  pointer-events: none;
}


.action-button {
  flex: 1 0 auto;
  appearance: none;
  background-color: #202124;
  border: 2px solid #ivory;
  border-radius: .25rem;
  color: ivory;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  min-height: 2rem;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  /* touch-action: manipulation; */
  /* width: 100%; */
  /* will-change: transform; */
}

.action-button:disabled,
.action-button.active:disabled {
  pointer-events: none;
  background-color: slategray;
  border: 2px solid silver;
}

.action-button:hover {
  background-color: olive;
}

.action-button:active,
.action-button.active {
  background-color: olive;
}


.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 10vw;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 10vw;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}


/*******************************************************************************
  Colors and Icons
*******************************************************************************/

.class.ranger {
  color: limegreen;
}

.class.warrior {
  color: peru;
}

.class.rogue {
  color: yellow;
}

.class.assassin {
  color: lightgreen;
}

.class.mage {
  color: violet;
}


.icon.ranger {
  background: no-repeat center/contain url("assets/ranger.png");
}

.icon.warrior {
  background: no-repeat center/contain url("assets/warrior.png");
}

.icon.rogue {
  background: no-repeat center/contain url("assets/rogue.png");
}

.icon.mage {
  background: no-repeat center/contain url("assets/mage.png");
}

.icon.berserker {
  background: no-repeat center/contain url("assets/berserker.png");
}

.icon.paladin {
  background: no-repeat center/contain url("assets/paladin.png");
}

.icon.enemy {
  background: no-repeat center/contain url("assets/boss.png");
}
