* {
  box-sizing: border-box;
}

html, body, main {
  font-family: 'Secular One', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
}


/*******************************************************************************
  Game Board
*******************************************************************************/

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#board {
  background-color: #202124;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.slides-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: flex;
  padding: 0 .5rem;
}

.slide:nth-child(1) {
  background-color: #49b293;
}

.slide:nth-child(2) {
  background-color: #b03532;
}

.slide:nth-child(3) {
  background-color: #6a478f;
  margin: 0;
}

.slide:nth-child(4) {
  background-color: #da6f2b;
}


.slide > .column {
  flex: 1 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tile {
  margin: 1vh auto;
  width: 90%;
  flex: 1 0 0;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}


.tile.active {
  background-color: lime;
}

.tile.boss {
  background-color: violet;
  border: 2px solid black;
}

.tile.stronghold {
  background-color: goldenrod;
  border: 2px solid black;
}

.minion-counter {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.minion-counter > .token {
  flex: 1 1 0px;
  width: 16px;
  height: 100%;
  background: no-repeat center/100% url("assets/skull-ivory.png");
}

.monster-counter {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}

.monster-counter > .token {
  flex: 1 1 0px;
  width: 24px;
  height: 100%;
  background: no-repeat center/100% url("assets/skull-wheat.png");
}

.monster-counter > .token.elite {
  background: no-repeat center/100% url("assets/skull-green.png");
}

@media only screen and (min-width: 320px) {
  .minion-counter > .token {
    width: 24px;
  }

  .monster-counter > .token {
    width: 32px;
  }
}

@media only screen and (min-width: 400px) {
  .minion-counter > .token {
    width: 32px;
  }

  .monster-counter > .token {
    width: 48px;
  }
}


/*******************************************************************************
  Header Bar
*******************************************************************************/

header {
  width: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* color: #202124; */
  color: ivory;
  /* background-color: #202124; */
  /* background-color: ivory; */
  background: linear-gradient(#4e4e4e, #202124);
}

header .label {
  /* border-radius: 0.25rem; */
  /* background-color: ivory; */
  padding: 0 .25rem;
  /* line-height: 1; */
}

header > .boss {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header > .willpower {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header > .turn {
  flex: 2 1 0;
  display: flex;
  flex-direction: row;
  border: 2px dashed ivory;
  border-radius: .25rem;
  height: 100%;
}

header > .turn > .slot {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202124;
}

header > .turn > .slot:nth-child(1) {
  background-color: firebrick;
}

header > .turn > .slot:nth-child(2) {
  background-color: royalblue;
}

header > .turn > .slot:nth-child(3) {
  background-color: forestgreen;
}

header > .turn > .slot:nth-child(4) {
  background-color: rebeccapurple;
}

/*******************************************************************************
  Footer Bar
*******************************************************************************/

footer {
  width: 100%;
  min-height: 30vh;
  /* background-color: #4e4e4e; */
  background: linear-gradient(#4e4e4e, #202124);
}


footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 10vw;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 10vw;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}
